[2021-12-07 16:38] nrc opened #1 "Tracking issue: a standard library for async Rust"
All the parts of various runtimes (and perhaps other crates) that can and should be moved into std.

There are some big issues here, such as whether we could use async overloading for some or all of this? Should APIs be changed to be optimal for completion-based IO?

Then there is a lot of incremental work standardising on parts of the library across runtimes and moving the standardised code into

[2021-12-07 16:40] nrc opened #2 "Tracking issue: an API for executors"
A key goal is to be able to easily switch between executors. Currently, there is no standardised interface for executors, so how a program interacts with an executor is unique to each executor. On the bright side, most executors offer similar APIs (e.g., a spawn function). However, there are differences in the details and some constraints which are not reflected simply by function signatures (e.g.

[2021-12-07 16:47] nrc opened #3 "Tracking issue: ease of use"
There are many areas of friction around async runtimes, lets try and smooth things out!

Some things that I'm aware of:

* Be able to write `async fn main` and async tests without a proc macro (this is a pretty complex requirement and ties in with how an async runtime is specified. In particular, I would want to use the specified runtime (rather than a default one) if one has been specified, but w

[2021-12-07 16:49] nrc opened #4 "Guiding principles"
As we do this interoperability and portability work, we should develop our guiding principles. From my [blog post](https://www.ncameron.org/blog/portable-and-interoperable-async-rust/) I suggest the following possible principles:

*    Async APIs should be as close as possible to their synchronous equivalents.
*    Applications should choose a runtime, libraries should be runtime-agnostic.
*    Ex

[2021-12-07 17:15] nrc opened #5 "AsyncRead and AsyncWrite"
Tracking issue for work on AsyncRead and AsyncWrite. The eventual goal is that we have a single, standardised version of these traits in std which are used by all (or at least most mainstream) async runtimes.

Known technical issues:

* should these traits use `poll_read`/`poll_write` functions or `async fn read`/`async fn write`
* how to handle writing to uninitialised memory in `AsyncRead`
* how

[2021-12-07 17:22] nrc commented on #5
Some resources:

* [Async vision doc](https://rust-lang.github.io/wg-async-foundations/vision/roadmap/portable/read_write.html)
* [Async foundations issue](https://github.com/rust-lang/wg-async-foundations/issues/23)
* [Paper doc on uninit memory](https://paper.dropbox.com/doc/IO-Buffer-Initialization-MvytTgjIOTNpJAS6Mvw38)
* [Blog post on unint memory](https://blog.yoshuawuyts.com/uninit-read-wri

[2021-12-07 17:59] ibraheemdev commented on #2
Just leaving a list of previously discussed ideas:

- `#[global_executor]` or global existentials defined by external crates
- Thread-local executors
- Adding generic member access to `task::Context`
- Making `task::Context` generic over it's environment `Context<T = ()>`
- Scala-like implicit execution context

[2021-12-07 18:14] TennyZhuang commented on #5
async fn is better, but it was blocked by async-trait and is unlikely to be stabilized in the short term. 😞

[2021-12-07 18:20] ibraheemdev commented on #5
[It's blocked on a dyn-safe (inline) async traits actually](https://github.com/rust-lang/wg-async-foundations/blob/master/src/vision/roadmap/portable/read_write.md)

[2021-12-08 10:52] nrc opened #6 "select macro"
Both [Tokio](https://docs.rs/tokio/1.14.0/tokio/macro.select.html) and [futures-rs](https://docs.rs/futures/0.3.18/futures/macro.select.html) provide a `select` macro, they provide roughly the same functionality but have different implementations, APIs (in the mini-language supported), and constraints (notably, futures-rs requires futures to be fused).

There seems to be a lot of demand for select

[2021-12-08 12:39] danielhenrymantilla commented on #6
A tiny improvement _w.r.t._ footguns could be to:
  - maybe make the `if guard` mandatory for non-`FusedFuture`s
  - and/or some other way to express the intent that "I, as a user, hereby declare to be the one keeping track of completion". Even something as basic as an `#[unfused]` annotation or an `.unfused()` zero-cost adapter, or something along these lines.

[2021-12-09 10:50] nrc commented on #1
Join macro is now in core (unstable): https://github.com/rust-lang/rust/pull/91645

[2021-12-09 13:05] nrc commented on #5
ReadBuf (RFC 2930) has landed on nightly now (https://github.com/rust-lang/rust/pull/81156)

[2021-12-14 13:41] yoshuawuyts commented on #5
Note that `async-std` also re-exports the `futures-io` traits, but does so using an alias. This does mean the traits are compatible though. In hindsight we probably should've kept the `Async{Read,Write}` terminology, but we didn't know that at the time.

[2021-12-14 13:45] yoshuawuyts commented on #5
Another known blocker that I haven't seen mentioned yet: the working group needs to make a decision on the feasibility of [async overloading](https://blog.yoshuawuyts.com/async-overloading/). This will have consequences for the shape and location of the async IO traits.

Async overloading is being tracked [on the roadmap](https://rust-lang.github.io/wg-async-foundations/vision/roadmap/async_overlo

[2021-12-14 13:56] yoshuawuyts commented on #2
The most promising direction at the moment would be: ["`with` clauses"](https://github.com/rust-lang/async-fundamentals-initiative/blob/c7c1670db0b2d0d7fbae1562be50e6d9286dcb48/evaluation/design/with_clauses.md). This project is still getting started, but if successful would enable authoring a general mechanism by which a runtime can be constructed, passed, and overwritten. An introduction blog po

[2021-12-14 15:24] ibraheemdev commented on #2
`with` clauses themselves don't solve the interop problem, we still need an API for executors.

[2021-12-14 15:42] yoshuawuyts commented on #2
That is true, but their design greatly will inform what an executor API would look like. It doesn't seem fruitful to start designing a generalized async runtime APIs before we have clarity if and how `with` clauses will integrate into the language.

That's why I'm recommending we start by doing a survey to gather requirements. So once we have more clarity on `with` clauses, we're actually able to

[2021-12-16 09:29] nrc commented on #5
From the docs, they appear to have different definitions? The async-std versions have significantly more methods. Not sure if it a re-export of an earlier version of the futures definition or something more complex than that.

[2021-12-16 09:34] nrc commented on #2
I feel like `with` is important for some issues, but orthogonal to others. Obviously `with` clauses would affect how executors are passed around and interacted with, but they seem mostly orthogonal to the question of how an interface should be specified. In other words, I think the tasks of designing `with` clauses and designing an API for executors are mostly parallelisable.

[2021-12-16 12:19] yoshuawuyts commented on #5
yeah, that touches on another thing we probably shouldn't have done: the methods on `async_std::io::{Read,Write}` don't _actually_ exist on them; they are only compiled in for the docs. The way they are made available is by importing `async_std::io::prelude::*` which includes `ReadExt` and `WriteExt`. It's very much a hack, but it allowed us to keep using the `futures-io` types, while still giving

[2021-12-26 16:27] ericniebler commented on #2
I encourage anyone thinking about designing an async abstraction to read this blog post about structured concurrency and the problems with spawn-like interfaces:

https://vorpus.org/blog/notes-on-structured-concurrency-or-go-statement-considered-harmful/

And then check out the direction standard C++ is heading:

https://wg21.link/P2300

Disclaimer: I am one of the authors of P2300, but not the bl

[2022-01-21 22:41] danielhenrymantilla commented on #1
A stack-`pin!`ning macro: https://github.com/rust-lang/rust/pull/93176

[2022-01-23 15:27] yoshuawuyts commented on #1
Maybe we should track "pin utils" as a separate issue. Once we have stack pinning in, the last (?) major remaining issue would be to figure out is how to introduce first-class pin projections into the stdlib.

[2022-02-15 20:18] uazu commented on #5
Just one comment on the proposed design (which looks fine to me although I'm not really the target audience):

- For the examples where `let mut buf = [0; 1024];` is done after the `ready` call, I'm trying to figure out how this saves memory, since usually stack space is reserved based on the maximum extent required. Does this depend on `buf` not carrying over any `.await`, which means it goes ont

[2022-02-16 08:53] nrc commented on #5
These are simplified examples, in real life we might use one shared buffer or allocate space on the heap to be used in other functions, etc.

[2022-02-16 17:35] nrc commented on #5
Whoops! They absolutely should. Fixed now, thanks!

[2022-02-18 09:23] nrc commented on #5
Feedback from Fuchsia:

And wonder if we could add a byte count to `Interest`.

Discussion ongoing on Zulip

[2022-02-18 09:26] nrc commented on #5
Some discussion on a possible alternative where we have a type like smol's `Async` and some of the API is on that type rather than the io traits (I believe the benefit here is that we keep the differences between the sync and async APIs restricted to a single location).

[2022-03-17 15:45] nrc commented on #5
I've started to write up the designs from the blog posts in https://github.com/nrc/portable-interoperable/tree/master/io-traits

[2022-03-17 17:02] yoshuawuyts commented on #6
I wrote an in-depth analysis of `select! {}` here: https://blog.yoshuawuyts.com/futures-concurrency-3/.

[2022-03-17 17:25] yoshuawuyts opened #7 "Define and implement a framework for evaluating async IO traits"
## Introduction

I was requested on Zulip to file an issue about any misrepresentation or items that I think should be addressed further in the [IO traits section](https://github.com/nrc/portable-interoperable/tree/master/io-traits) of this repository.

My main issue is that the document currently starts with a conclusion ("proposal"), and shares some of the rationale afterwards. As I mentioned be

[2022-03-17 22:52] yoshuawuyts commented on #5
Filed https://github.com/nrc/portable-interoperable/issues/7 related to this issue.

[2022-03-17 22:58] yoshuawuyts opened #8 "Bring pin facilities from the ecosystem into the stdlib/language"
Follow up to: https://github.com/nrc/portable-interoperable/issues/1#issuecomment-1019507797.

We should bring ecosystem libraries related to pinning into the Rust stdlib / language. Generally there are two categories of libraries to replace:

- [x] [`pin-utils`](https://docs.rs/pin-utils/latest/pin_utils/) for stack pinning (Provided by [`core::pin::pin!`](https://github.com/rust-lang/rust/issues

[2022-03-17 23:35] yoshuawuyts commented on #7
Another reason to define a framework for evaluation ahead of time is that it will allow us to use that as we test, evaluate, and iterate on designs. As we start testing, we should be able to check our assumptions of the design against reality. If we find our assumptions deviate from what we're experiencing, we should be able to come back and re-evaluate.

That all becomes a lot harder if we don't

[2022-03-21 14:30] nrc opened #9 "AsyncSeek"
An async version of the [Seek](https://doc.rust-lang.org/nightly/std/io/trait.Seek.html) trait:

[code]

## Prior art

### [futures-rs](https://docs.rs/futures-io/latest/futures_io/trait.AsyncSeek.html)

[code]

### [Tokio](https://docs.rs/tokio/latest/tokio/io/trait.AsyncSeek.html)

[code]

### [async-std](https://docs.rs/async-std/latest/async_std/io/trait.Seek.html)

Extends futures-rs with a c

[2022-03-21 14:32] nrc commented on #9
An obvious async-ing of the sync version gives:

[code]

Everything must be `async` since the underlying reader might need to read data to fulfil the seek requests.

[2022-03-21 14:52] nrc commented on #9
I think it would be easy enough to extend the readiness proposal for read/write to seek. (We'd add a `SEEK` interest and the `async::Seek` trait would extend `Ready`. `seek` would be a provided method and we'd add a `non_blocking_seek` required method). I don't think that is super useful though. `Seek` only makes sense on buffered IO or files and in either case I don't think we have memory require

[2022-03-23 13:00] nrc commented on #9
Some issue spelunking around the Tokio design:
* [Concerns with straightforward design (closed PR)](https://github.com/tokio-rs/tokio/pull/785#issuecomment-491540713)
* [Discussed again (closed PR)](https://github.com/tokio-rs/tokio/pull/1641)
* [Added in PR](https://github.com/tokio-rs/tokio/pull/1924)

To summarise the concern with `poll_seek`, the scenario is that someone calls the function (po

[2022-05-04 13:52] nrc commented on #7
So, I think the document is not the document you want, but I'm not sure that it is the wrong document. I think what you are asking for is a process, rather than a document (i.e., you want the document to be structured chronologically with respect to the process). And I think that the structure of the process you are proposing is a good one (plus some iteration as we discover new requirements whils

[2022-06-17 03:15] NobodyXu commented on #5
Do you think the

    fn is_vectored_writeable() -> bool;

interface that can be found in existing AsyncWrite/AsyncRead/Write/Read solves the problem?

[2022-06-21 01:15] NobodyXu commented on #5
That's true.

But if it is split into two traits, then what if the user has an IoSlice and doesn't care about the efficiency anyway?

[2022-06-29 07:44] nrc opened #10 "async Read/Write: can we use async read instead of non_blocking_read?"
Because returning `WouldBlock` is pretty much like returning `Pending`, except that it gets processed by the user in the ready loop rather than an executor, but that seems not important. If it works, this would make the Read and Write traits much simpler

Credit for the idea to @joshtriplett

[2022-06-29 07:47] nrc opened #11 "async Read/Write: should we support a way to load multiple IOs on a single epoll (or whatever)"
I.e., rather than having optimal code write a ready loop and wait for multiple `ready` calls, we have some abstraction which lets us add many resources and then wait for all of them at once (using a single call to epoll under the covers). It's possible the executor can do this implicitly (perhaps some do already), or its possible that there is not much performance benefit to doing this. But it mig

[2022-06-29 08:19] NobodyXu commented on #11
An interesting case here will be the multishot recv operation from io-uring, where recv is only issued once and it just keep reading.

[2022-06-29 09:52] nrc commented on #10
Some thoughts from initial investigations:

The key difference between `non_blocking_read` and `async read` is about intentions and invariants: if `non_blocking_read` would block then that is probably due to the data already being consumed, so the caller should go back to waiting for `ready`. OTOH, `async read` might be not ready for many reasons, and the expected behaviour is for the caller to co

[2022-06-29 11:36] NobodyXu commented on #10
What about completion based async io like io-uring?

In io-uring setting, you can submit a read I/O to network or filesystem in a truly async manner and simply wait for the entry to appear in cqe, and you don't need any `poll`/`epoll` or other `ready` call.

[2022-06-29 12:34] nrc opened #12 "async IO traits: thoughts on ecosystem splits"
Not sure an issue is the right place for this, but I wanted to record some thoughts on the subject of ecosystems splits in the context of the async IO traits.

The primary driver in doing this work is to fix an ecosystem split between runtimes. I think that is an important goal with many good effects beyond portability between runtimes. Any solution to the async IO traits should strive to avoid cr

[2022-06-29 12:58] nrc commented on #10
Completion based IO is likely to use BufRead or OwnedRead or similar, rather than these functions

[2022-06-29 13:07] NobodyXu commented on #12
@nrc Honestly, while the trait `Read` is indeed portable, it might not have the best performance, especially for completion based async io-engine such as io-uring.

Currently, the most efficient way to work with io-uring is to used owned buffer.
While this is partly due to limitations of the async system (lack of async drop), even with it fixed,
io-uring will still provides better performance with

[2022-06-29 13:14] LukeMathWalker commented on #12
I've been subscribing to this repository for a while - I think (lack of) runtime interop is a significant issue in today's async ecosystem.
I would have expected to see active discussion in this repository, an opportunity to get an appreciation of the different positions and the rationale behind the different available design options.

Instead, it mostly looks like discussions are mostly happening

[2022-06-29 13:24] SabrinaJewson commented on #12
I disagree, I think `BufRead` is a fine API for supporting `io_uring` with owned buffers (assuming the async drop problem is fixed) — it would support multi-shot recv too, as long as each I/O resource can hold a list of buffers (but that wouldn’t be difficult). It additionally has the benefit of being very similar to synchronous code.

[2022-06-29 13:25] nrc commented on #12
Sorry, somewhat unspoken here, but described in the main proposal (https://github.com/nrc/portable-interoperable/blob/master/io-traits/README.md), is that to get the most out of completion based systems you would use the BufRead (or proposed OwnedRead) traits, rather than the Read trait. So that is all somewhat orthogonal to the design around `Ready` (although it is also a place where I'm concerne

[2022-06-29 13:38] SabrinaJewson commented on #12
Internal buffer size modification seems like it would be appropriate more as inherent methods on types like `TcpStream` than on the `BufRead` interface to me, since it’s quite specific to `io_uring` and those particular types. Generic code generally just has to worry about “a reader” rather than the reader’s internal buffer.

[2022-06-29 13:57] NobodyXu commented on #12
Fair enough.

[2022-06-29 14:04] NobodyXu commented on #12
I don't think having async IO traits like `Read`/`Write`/`BufRead` is enough to unify the ecosystem.

Many crates, like `reqwest`, http server, [`openssh-mux-client`] need to create a network socket (tcp/udp/unix socket) and without a way to create it in a portable manner, they will resort back to use a specific runtime.

There is also crates like [`tokio-pipe`] which wraps the `pipe` for `tokio`

[2022-06-29 14:05] NobodyXu commented on #12
Hmmm, I just notice that there is no way to pass an owning buffer for `Write`.

Perhaps we also need one for `Write` to fully utilize io-uring?

[2022-06-29 14:24] nrc commented on #12
These are good questions, but they are somewhat off-topic for this issue. I have proposed adding a BufWrite trait and perhaps OwnedWrite too, though I've mostly been focussing on reading. I very much appreciate that there is lots more than just the io traits to be done to make the ecosystem more interoperable. I think the IO traits are necessary but not sufficient.

[2022-06-29 14:41] nrc commented on #12
Yes that is correct, I'm basing this off the current sync design and will update as that evolves (it is, I think, orthogonal to the design questions around async).

[2022-06-29 14:45] yoshuawuyts commented on #12
I guess I'm missing too much context to formulate a proper response to this. For example:

- _"Some users have stronger preferences for performance or memory usage over ergonomics (this is multiple groups [...]"_ — Which groups are these? Why do they have these preferences? Do preferences within this group vary? If so, how do they vary? What are examples of this?
- _Some users want an easy/ergonom

[2022-06-29 14:51] SabrinaJewson commented on #12
This is definitely a problem. I think a good solution would be to make Reqwest generic over a `S: Socket` type, where `Socket` would be a trait similar to [`socket2::Socket`](https://docs.rs/socket2/latest/socket2/struct.Socket.html)’s API, but asynchronous. Maybe something like context parameters could be used to avoid having to write out generic parameters everywhere. It would be better than sep

[2022-06-29 15:03] NobodyXu opened #13 "async trait for runtime"
I propose to add a new trait for the runtime, which provides portable APIs for creating sockets, pipe, `AsyncFd`, timers and etc.

### Motivation

As mentioned in [this comment](https://github.com/nrc/portable-interoperable/issues/12):

### Details

Here is a rough scratch of what I expected, many APIs are elided because there are too many APIs:

(NOTE that these APIs are heavily influenced by `to

[2022-06-29 15:05] NobodyXu commented on #12
Yeah, that is similar to what I thought, but I think that it is also necessary to have a `Runtime` trait to group them together.

Checkout #13 , a very rough scratch of what I want.

[2022-06-29 15:15] SabrinaJewson commented on #13
It would be simpler to not have separate process/net/file/stdio APIs but rather provide a single unified `Socket` type (actually, might be better to have `Fd` on Unix and `Socket` + `Handle` on Windows) similar to socket2’s API as well as a `spawn_blocking` function, and then `TcpStream`, `File`, `Process` etc can all build on that generically. So, more like:

[code]

and `std` can define a `TcpSt

[2022-06-29 15:18] SabrinaJewson commented on #13
Ah, you misunderstood me. I meant that process/net/file/stdio should all be together, but time and task spawning should still be separate.

[2022-06-29 15:19] NobodyXu commented on #13
Sorry for that, integrating these traits does sound reasonable, but I am still not completely sure this is a good idea though.

[2022-06-29 15:19] NobodyXu commented on #13
Oops...

[2022-06-29 15:21] NobodyXu commented on #13
Having this method:

[code]

in `Runtime` will definitely be necessary.

[2022-06-29 15:34] NobodyXu commented on #13
Also, we need to find a way to obtain the runtime.

I personally think the proposal of having a "context" is the best solution for this, since it is zero-cost (does not require thread-local variable) and the crate can easily put a bound on the "context".

[2022-06-30 02:55] NobodyXu commented on #13
After a second thought, I think it will be better to keep it separated.

While it's true that process/net/file/stdio can be put together, the implementation of the runtime often split them into multiple features.

For example, [tokio](https://docs.rs/crate/tokio/latest/features) provides feature flags for each one of them to speedup compilation and reduce bloat.

Similarly, [async-std](https://doc

[2022-06-30 08:11] SabrinaJewson commented on #13
Under my design, types like TcpStream, process::Child, Stdin etc would still be equally feature flagged. All that wouldn't be feature flagged would be the underlying low-level system call wrappers which would be common between the high level net/process/io interfaces anyway.

[2022-06-30 08:19] NobodyXu commented on #13
I am a bit confused.

Do you mean that process/net/file/stdio would be in the same trait be feature gated?

[2022-06-30 09:01] NobodyXu commented on #13
This actually sounds good.

I think we need the runtime to implement AsyncHandle (can be constructed from OwnedFd or windows's OwnedHandle), Socket for async accept implementation, process spawning and timer.

[2022-06-30 13:42] NobodyXu commented on #13
@SabrinaJewson I've adopted your suggestion and updated the proposal.

[2022-06-30 13:42] #13 closed

[2022-07-02 09:08] NobodyXu commented on #13
@nrc I have written down a detailed proposal and it seems that we need at least type GAT for the spawning tasks.

[2022-07-02 09:21] NobodyXu commented on #2
I have written up a draft for the APIs of executors in #13 , feel free to have a look at it.

I also agree that ["with clauses"](https://github.com/rust-lang/async-fundamentals-initiative/blob/c7c1670db0b2d0d7fbae1562be50e6d9286dcb48/evaluation/design/with_clauses.md) is the best way to plug in an executor, it would enable to user to add trait bound to specify the capabilities they need.

[2022-07-04 15:10] NobodyXu commented on #13
# Amendment Proposal: Archive zero-cost abstraction

## Motivation

Currently, in order to implement the portable `Runtime` trait, the async runtime
must use reference counting (`Rc`/`Arc`) or global `static` variables.

None of the solutions above is zero-cost.

Reference counting requires boxing and every time a new `AsyncHandle` and other types
or `Future` is created, it needs to increase the r

[2022-07-05 05:33] nrc commented on #13
Hey @NobodyXu I haven't looked in detail at the amendment above, I'm still at the information and requirements gathering stage of work on executors. But two comments: I expect using lifetime GATs is fine in general, they seem on a solid path towards stabilisation. I don't think being zero-cost in the sense of having no runtime overhead at all is necessary, the cost of a few statics or an occasiona

[2022-07-05 06:07] NobodyXu commented on #13
It's good to hear that!

Well, I don't think using a few statics or reference counting improve ergonomics.

The problem here is zero-cost runtime abstraction requires lifetime GAT, but if that is fine, then I don't think it will have a lot impact on ergonomics.

In fact, I would argue the current API makes more sense.

Users of this portable runtime can clearly see how their `AsyncHandle`, `Interv

[2022-07-05 06:14] NobodyXu commented on #13
In additional to the ergonomic improvement I mentioned in the last comment, the amendment proposal also improves ergonomic for `spawn`.

Currently, `spawn` has to be `'static`, which is understandable but too strict.
With this amendment proposal, `spawn` can accept any future that lives as long as the runtime itself.

[2022-07-06 07:51] nrc opened #14 "async function traits"
See [async_fn_traits](https://docs.rs/async_fn_traits/latest/async_fn_traits/). Essentially traits for functions which return a future. I'm not clear on why there are versions for different numbers of arguments rather than having a generic parameter for the arguments (like the `Fn` traits). I'm also not clear on how much these traits are just a convenience vs how much the compiler will need to kno

[2022-07-06 08:03] NobodyXu commented on #14
I suppose that is to work around the lack of variadic generic parameters support in rust.

[2022-07-06 08:05] NobodyXu commented on #13
@nrc The original proposal also uses specialisation:

[code]

### Motivation

Suppose that a user want to write some data into TcpStream at background,
they will likely to use spawn.

However, spawn requires Send + Sync, in order to use it, they would have to write
`RuntimeNet<TcpStream: Send + Sync>`, which is cumbersome.

Another option is to just use spawn_local, but it only gives concurrency,

[2022-07-06 09:30] SabrinaJewson commented on #14
The compiler will need to know about them to get type inference with HRTBs to work. Today, this doesn’t compile:

[code]

and that’s because the `Fn` bound is only indirectly applied via the `AsyncFn1` trait and not in the function. However, we can’t move the `Fn` bound to the function because then we wouldn’t be able to express what would come after the `->` (since its type should be able to vary

[2022-07-13 06:48] NobodyXu commented on #13
This proposal definitely needs more feedbacks, espeically from whom maintains the async runtime.

@rust-lang/wg-async, @rust-lang/libs-api
@Darksonn @joshtriplett  @ihciah @Noah-Kennedy @HippoBaro

[2022-07-13 07:12] Darksonn commented on #13
Well, I looked it over and it seems rather complicated. But perhaps that's unavoidable. I don't think the current location of your `spawn_local` method is compatible with the `spawn_local` in Tokio due to the requirement of using a `LocalSet`, which does not have a handle type.

[2022-07-13 07:18] NobodyXu commented on #13
Part of that is because I also want to support file/fs async operation for io-uring based async executor.

Is there any reason why `tokio` has to use a `LocalSet`?
[`async_std::task::spawn_local`](https://docs.rs/async-std/latest/async_std/task/fn.spawn_local.html) does not require anything equivalent to a `LocalSet` AFAIK.

[2022-07-13 07:25] Darksonn commented on #13
Well, on the multi-threaded executor, local spawns are a problem due to our [`block_in_place`](https://docs.rs/tokio/latest/tokio/task/fn.block_in_place.html) method. The `block_in_place` method is supposed to move everything on the current worker thread to a new worker thread, which is impossible if you can `spawn_local` on that runtime.

As for the current-thread runtime that doesn't support `bl

[2022-07-13 07:31] NobodyXu commented on #13
You are right, that is something I didn't take into account.
I've removed `block_in_place` API from my proposal.

[2022-07-13 14:23] Noah-Kennedy commented on #13
Unfortunately, uring-based runtimes are going to necessitate very different APIs for their completion-based operations.

[2022-07-13 15:02] Noah-Kennedy commented on #13
That's one difference, another is that (currently working on doing this for tokio-uring) there are a lot of neat flags you can set on the SQE pre-submission that a user may well want to configure, including things like provided buffers, fixed buffers, etc.

[2022-07-13 15:17] NobodyXu commented on #13
@Noah-Kennedy For the difference between read and write, you might want to readn and give feedback for it on #5

Portable runtime traits are designed mainly for library, so perhaps the user can configure provided/fixed buffers can be preconfigured that in `main` or something like that, where they know which runtime they are using?

We can also add functions as hints or adjust the buffer of `BufRea

[2022-07-13 16:16] joshtriplett commented on #13
I am *incredibly* confused by the level of complexity here.

Supplying a runtime doesn't mean supplying file or socket types or handling for fds or handles or process creation or similar. The standard library will already have all of those, and they'll be the *same* types and functions no matter what runtime you're using; that's a big part of what it means to unify the ecosystem. If you want to us

[2022-07-13 16:33] joshtriplett commented on #13
Sketch:

[code]

Note that `spawn_blocking` should take a future as well, so that it can make both sync and async calls without having to `block_on` for the latter.

[2022-07-13 16:39] ibraheemdev commented on #13
And JoinHandle holds a type-erased pointer + vtable?

[2022-07-13 16:46] Noah-Kennedy commented on #13
@joshtriplett how exactly would we be able to have a single, runtime-independent type for e.g an async file or socket? I'm not sure how this would work due to reliance on the IO driver. Would we need to standardize on an interface for an IO driver as well then, and just move the standardization issue further down the stack?

[2022-07-13 18:00] jyn514 commented on #13
I wish that `AsyncFd` and `AsyncRead` were standard. I think if we had those too, it would be much much easier to interoperate, even without standardized *types*.

[2022-07-13 18:13] Noah-Kennedy commented on #13
@jyn514 I don't think you can standardize AsyncFd terribly well given that the thing it's an attempt to standardize isn't even cross-platform.

[2022-07-13 19:36] joshtriplett commented on #13
@ibraheemdev I don't think we need the vtable to be per-handle; we could just have it be per-runtime, in which case we'd probably need a way to register it as part of registering a runtime.

[2022-07-13 19:48] joshtriplett commented on #13
@Noah-Kennedy If we *can't* have a runtime-independent type for an async file or socket, we might as well just put a full runtime in std; I'd sooner do that than make every program deal with an abstraction over the type of `AsyncFile`. I'm very much taking it as a given that we'll have a single `std::fs::AsyncFile` (module bikeshedding the name and module path); that's part of the value of standar

[2022-07-13 20:15] joshtriplett commented on #14
Does this get easier if we stabilize `async |x|` so that we don't just have "function returning a future", we have "async function"?

[2022-07-13 22:30] Noah-Kennedy commented on #13
@joshtriplett I don't think locking the async ecosystem into the development pace of std is a good idea. Having a minimal set of traits outside of which you need to specialize is certainly doable and probably the best approach. Having a single async runtime will create a massive amount of fragmentation, as there are many legitimate reasons you may need your own runtime. We are better off implement

[2022-07-13 22:33] ibraheemdev commented on #13
With an advanced enough contexts and capabilities proposal, the standard library have something like `struct File<with T: AsyncRead + AsyncWrite + ...> { inner: T }` that lets us keep the minimal traits and have better ergonomics.

[2022-07-13 22:45] Noah-Kennedy commented on #13
That could also work quite well

[2022-07-13 23:21] NobodyXu commented on #13
@joshtriplett This is exactly what I am trying to propose here.

Each runtime just need to implement `AsyncHandle` to provide basic functionalities like read/write/seek for any fd on unix/handle on windows.

There are also extension traits such as `AsyncHandleNet` for runtime that provides such functionalities and `AsyncHandleFile` and `RuntimeFs` for performing async file/fs io for io-uring based

[2022-07-14 00:36] Noah-Kennedy commented on #13
@NobodyXu I think the approach here is overall the best way of doing this, however we do need to be careful with the design here so as to not "cut off" certain runtime strategies from being able to meet the standard.

[2022-07-14 00:37] joshtriplett commented on #13
I'm not arguing that we *should* do it that way; I mentioned it as an alternative to having to use traits to abstract over *this much* of a runtime. I'd prefer to do neither of those, and instead just have concrete types for almost everything except the runtime itself.

[2022-07-14 00:42] joshtriplett commented on #13
Why is that in any way runtime-specific, beyond "hey runtime, here's a file descriptor / handle, don't wake my task until it's X-able"?

std provides platform abstractions for a variety of platforms. We don't implement the synchronous `File` by having an abstract interface that a platform-specific crate can implement to provide the backend for `File`; we just implement `File` on each platform we s

[2022-07-14 00:46] Noah-Kennedy commented on #13
So, as an example, you can do readiness via io_uring with IORING_OP_POLL_ADD, which has certain advantages over epoll for readiness-based IO. This is something up to the runtime, to the point where this is probably going to be used inside tokio once it gets io_uring support in the future.

[2022-07-14 00:50] joshtriplett commented on #13
@Noah-Kennedy You absolutely can, and I'm suggesting that we shouldn't design a single interface that covers every *possible* runtime at the expense of complexity, rather than an interface that supports *many* runtimes. I'm suggesting that for the same reason that we're not designing I/O traits (AsyncRead and AsyncWrite) to cover both epoll and io_uring, we're designing separate traits for those.

[2022-07-14 00:51] ibraheemdev commented on #13
Another example, tokio relies on edge-triggered notifications, meaning it has to do an extra step of updating internal state (`clear_readiness`) when an I/O operation returns `WouldBlock`. If all you have is `poll_ready(fd: RawFd)` there's no way of doing that.

[2022-07-14 00:53] joshtriplett commented on #13
@ibraheemdev I wasn't expecting a completely unmodified version of any existing runtime to drop into the standard library's runtime trait with zero adaptation or modification. I'd expect it to be more likely that there's a `runtime_x_stdruntime` crate adapting each `runtime_x` to the standard library interface.

[2022-07-14 00:56] ibraheemdev commented on #13
How about [we move this to zulip](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async/topic/async.20trait.20for.20runtime).

[2022-07-14 00:56] Noah-Kennedy commented on #13
If we want non-generic types, we should do this with vtables for registering readiness, or, in the case of completion-based APIs, for submitting and receiving events. This gives us as much flexibility as possible.

[2022-07-14 00:57] joshtriplett commented on #13
This is a requirement I'd like to question. :slightly_smiling_face:

Also, I'm starting to wonder if the term "runtime" is possibly too abstract, and leading to too general of a solution. I'm wondering in particular if it'd be clearer to talk separately about task spawning and about a reactor; I'm not sure if we want to be abstracting fully over the latter.

[2022-07-14 01:06] NobodyXu commented on #13
As others had replied, I added these so that both polling and completion based system like io-uring can be efficiently supported.

For example, when reading a file using io-uring, you won't use polling interface (and `epoll` doesn't work anyway).
Completion based interface are far more efficient and you are able to submit a batch of them in the same syscall.

Same as above, for efficiency reason.

[2022-07-14 01:09] NobodyXu commented on #13
For me, it is not just flexibility, but also efficiency.

This portable runtime trait is designed for library crates to adopt so that they can write efficient softwares without having a hard dependency on tokio/async-std.

Currently, a lot of library crates like reqwest, axiom, etc either have hard dependency on tokio, or have some feature gates to switch between tokio and async-std.

That is exac

[2022-07-14 01:16] Noah-Kennedy commented on #13
I agree completely with @NobodyXu here regarding both efficiency and supporting different implementation strategies, which **needs to be viewed as a hard requirement here**.

[2022-07-14 01:23] NobodyXu commented on #13
It will be great if we can archive that, but it might be quite hard as we have to manually poll things instead of having simple `async fn`.

[2022-07-14 02:02] NobodyXu commented on #11
And io-uring also has provided buffer, which solves the problem of reading from multiple fds while sharing the buffer.

[2022-07-14 02:06] NobodyXu commented on #5
@Noah-Kennedy I wonder is it possible for `async fn read` to work with io-uring without copying.

Suppose that:
 - The future returned by `async fn read` under io-uring is lazy and does not actually issue any `SQE` until it is polled (and pinned).
 - The future returned by `async fn read` is not `Unpin` (has `PhantomPinned`), thus it must be `Pin`ed. And `Pin`ed object must either be leaked, or mu

[2022-07-14 02:58] Noah-Kennedy commented on #5
Nope, because when dropping a future for an in-flight op, it would be unsound still.

[2022-07-14 02:58] Noah-Kennedy commented on #5
You can still make this work via IORING_OP_POLL_ADD, which lets you do readiness-based IO via uring.

[2022-07-14 03:01] NobodyXu commented on #5
Can we add a `drop` implementation that cancels and wait for cancellation/IO completion?

It will be great if we have async drop though.

[2022-07-14 03:03] Noah-Kennedy commented on #5
No, because this would block the runtime.

[2022-07-14 03:07] Noah-Kennedy commented on #13
I was thinking you fire off a callback to tell the reactor "register me to be woken if X fd is read/write ready", for instance with readiness-based events.

[2022-07-14 03:08] NobodyXu commented on #13
That seems to be reasonable.

[2022-07-14 03:20] NobodyXu commented on #5
Thanks, sounds like this can only be fixed with async drop.

[2022-07-14 03:28] Noah-Kennedy commented on #5
Yup

[2022-07-14 04:18] joshtriplett commented on #13
Summarizing and expanding on some discussion from Zulip: @Noah-Kennedy explained some of the details of tokio's implementation, and I explained some of the details of async-std's implementation, and the key difference that became clear is that tokio's approach requires tight integration between the reactor (handling I/O readiness) and the executor (running tasks) to interleave the two, while async

[2022-07-14 04:23] joshtriplett commented on #13
I do think there's an additional consideration that comes into play here. *Because* this is std, and we have stricter stability requirements than the rest of the ecosystem, that gives somewhat more weight and downside to API surface area, and augurs in favor of simpler interfaces/abstractions. That *doesn't* mean we can't consider more complex interfaces, if we buy sufficient benefits with that; i

[2022-07-14 05:37] NobodyXu commented on #13
I would like executor and reactor to be separated, but the executor should provide APIs so that async runtime such as tokio can use it.

IMHO this would make it more compositable and might even make it possible for `rayon` and `tokio` or other async ractor to share the same thread pool.

The key problem with this approach is to design the set of APIs for `tokio`.

[2022-07-14 08:54] nrc commented on #5
Even async Drop does not fix it. See https://ncameron.org/blog/async-io-with-completion-model-io-systems/ (tl;dr: destructors are not guaranteed to run in Rust)

[2022-07-14 09:02] Thomasdezeeuw commented on #5
I didn't have time to read the post, but based on the tl;dir: it's okay if the destructors aren't run. The problem is if they *are* run while the OS is still using the buffer. Leaking the buffer would be fine, not ideal of course, but at least it won't be unsound.

I've been thinking about using a separate "clean up" future for this. It would be implemented as a queue to which items can be send, o

[2022-07-14 11:35] NobodyXu commented on #5
If the returned future is not `Unpin` and has to be `Pin`, then it should be guaranteed that it is leaked or dropped right?

[2022-07-14 12:57] Thomasdezeeuw commented on #5
`Pin` doesn't guarantee anything regarding whether it's dropped or not, it's only guaranteed to be used in the same memory location.

[2022-07-14 14:09] Noah-Kennedy commented on #5
@Thomasdezeeuw been thinking about that as well actually

[2022-07-14 14:11] Noah-Kennedy commented on #13
@joshtriplett at the same time, the stability cuts the other way, if we make many common runtime designs non-interoperable with std async types, we have probably harmed the ecosystem more than we have helped it.

[2022-07-14 17:23] Noah-Kennedy commented on #3
I do not think we should expose an executor for std. My main concern is that this will become the standard around which other things will be coupled, making it harder for other runtimes which do IO using different interfaces for example, to integrate with the ecosystem.

[2022-07-14 18:47] Noah-Kennedy commented on #10
I'm in agreement with @nrc here.

[2022-07-15 13:00] NobodyXu commented on #13
Thank you @joshtriplett @Noah-Kennedy @ibraheemdev for providing me with feedback!

# async portable runtime 0.2.0

In portable runtime 0.2.0, I split the functionalities into executor and reactor to make the interface simpler, more compositable and easier to standardize.

This does not mean that all runtimes have to support plugable executor.
Runtime like `tokio` can still implement both executor

[2022-07-16 15:14] SabrinaJewson commented on #14
I mean, potentially. If `async |x|` were stabilized but it just desugars to `|x| async { /* … */ }` then obviously not, but I’d imagine it’d be possible to implement it in a “smarter” way, although I’m not a compiler person so I don’t know unfortunately. Another potential solution is to allow `-> _` in `Fn` trait bounds and stabilize `FnOnce::Output`, so the bound could be written like this:

[cod

[2022-07-16 15:26] SabrinaJewson commented on #10
If we were to add a `Leak` auto trait, then completion-based I/O systems could use `async fn read` as well as a `BufRead` interface (for `io_uring`’s registered buffer mode). I think that’s the optimal solution since it has parallels with synchronous code (enabling keyword genericity with async) and allows completion and readiness-based systems to operate under the same API (so runtimes can transp

[2022-07-16 20:14] Noah-Kennedy commented on #10
With uring, it's interesting because you actually have efficient readiness-based IO via IORING_OP_POLL, however you just have more efficient APIs that are completion based which you generally want to use instead.

[2022-07-17 08:05] NobodyXu commented on #13
## async executor 0.3

After posting about async executor 0.2, I realized it is possible to design the APIs of executor without any generics, `async` or associated item.

And I also realized that the `ExecutorExt` API is a bit too complex so I simplified them a bit and also removed the use of generics.

### `Executor`

[code]

### `ExecutorExt`

[code]

[2022-07-17 20:35] Noah-Kennedy commented on #13
So I've taken some time to look through this again.

Regarding this approach, I don't think this gets us much.

First, starting with the spawn methods, having them be unsafe like this makes the whole abstraction useless. If the purpose is for library authors to be able to _not_ care what runtime they are on, then it is self-defeating to make these methods unsafe and tied to whatever lifetimes the

[2022-07-18 03:06] NobodyXu commented on #13
The std library would provide wrappers over these `unsafe` primitives like `std::task::yield_now`, `std::task::spawn`, `std::task::spawn_local`, `std::task::spawn_auto`, `std::task::spawn_blocking`, `std::task::try_block_in_place`.

The std library would implement the `JoinHandle` that is portable to any runtime and the executor only needs to execute these tasks in any possible manner.

With the e

[2022-07-19 06:45] NobodyXu commented on #5
@Noah-Kennedy @nrc IMO it might be a good idea to to standardise [`bytes`], expose its internal vtable, create functions for creating `Bytes` and `BytesMut` from provided buffers of io-uring and add the following interfaces:

[code]

That will enable efficient use of io-uring since it is zero-copy and we could also support provided buffer easily.

Though stablising [`bytes`] alone would take a ton

[2022-07-19 07:30] nrc commented on #5
@NobodyXu The trouble with this approach is that it is a long way from the sync versions of Read/Write, and is a pretty un-ergonomic API. There is more on the requirements, etc. here: https://github.com/nrc/portable-interoperable/tree/master/io-traits#requirements

[2022-07-19 07:46] NobodyXu commented on #5
Yeah, but I don't see any other way to support completion based systems efficiently, since they are most efficient with managed/provided buffer.

Passing a reference to a buffer requires copying around to internal buffer and even if we fix that, it still cannot match the performance of provided buffer due to the optimizations that can be applied to provided/managed buffer.

Perhaps we can provide

[2022-07-19 08:31] nrc commented on #5
The proposal in the document is to support completion systems via BufRead and possibly a new OwnedRead trait

[2022-07-19 08:57] NobodyXu commented on #5
Sorry that I missed that part.

[2022-07-19 13:53] Noah-Kennedy commented on #5
@NobodyXu when you say "provided buffer", are you referring to owned buffers or kernel-managed buffer groups?

[2022-07-19 14:15] NobodyXu commented on #5
I am referring to kernel-managed buffer groups.

[2022-07-19 14:17] Noah-Kennedy commented on #5
I think that this is something which, while very, very important, is probably out of scope of current standardization efforts.

[2022-07-19 14:20] NobodyXu commented on #5
Hmmm yeah, I can see that the existing proposal is already quite complex.

[2022-07-25 22:05] uazu commented on #11
In the executor it's essential, or else it can't support several tasks waiting at once.

The question is whether it's worth exposing that in an API. Async/await code has a problem expressing waiting for several things at once. I think the idea in this model is to have a task for each and then join. (Coming from an actor-model background, this seems awkward.)

[2022-07-25 23:02] uazu commented on #13
I guess you realize that there is not just tokio and async-std to consider. I want to implement this interface for Stakker, which is one-runtime-per-thread never-blocking actor-model runtime, with typically `mio` in the background taking care of waiting for lots of FDs/handles and waiting for the next timer expiry (although it could run on top of any other event loop). So "block_on" is problematic

[2022-07-26 01:51] NobodyXu commented on #13
block_on is now implemented as try_enter_block_on and try_exit_block_on https://github.com/nrc/portable-interoperable/issues/13#issuecomment-1186439456 .
You can just always return Err for these functions.

Why would spawn_blocking cause deadlock?
It is usually implemented using a blocking thread-pool that is separated from the thread-pool for executing futures.

You can simply implement spawn usi

[2022-07-26 11:58] uazu commented on #13
Maybe I misunderstood the purpose of spawn_blocking. So it doesn't actually block. Yes, I can implement a thread-pool if that is what is required. I guess there are some additional complexities to handle, e.g. non-blocking I/O through this interface from these tasks needs a reactor in those threads (potentially?), also they may spawn normal tasks (back in the runtime thread?). The whole thing need

[2022-07-26 12:05] uazu commented on #13
Okay, got it -- so 'spawn' won't be a problem.

[2022-07-26 12:59] NobodyXu commented on #13
It is for blocking io, e.g. doing file io on a polling runtime.

If your reactor does not implement `Send`, then the users will not be able to use the reactor in these blocking threads.
And I agree that the whole things still need to be worked on.

I plan to let them use `spawn_auto`, which spawns on local if they do not implement `Send`.

You got it, `spawn` only enables the executor to run the t

[2022-07-26 16:44] Noah-Kennedy commented on #13
I think the whole idea of spawn_auto is problematic. On many runtimes, you cannot spawn a local task from any context, so implicitly falling back to local spawning if the future is `!Send` is a significant footgun, and prevents this method from being used in the manner it seems intended, which is as a default usage pattern for libraries. Ultimately, we should try to make it so that libraries don't

[2022-07-26 17:37] Noah-Kennedy commented on #13
Also, thinking on this more, we do not need `block_on`. This is an implementation detail that doesn't really serve a use case. We really just need a system for constructing the basic IO types, and doing spawning.

Also, another note since this ticket is getting heated at times:

Folks, let's please keep in mind that the problem we need to address is that library authors and others seeking to write

[2022-07-27 02:30] joshtriplett commented on #13
@Noah-Kennedy We do need a std::task::block_on though.

[2022-07-27 02:35] Noah-Kennedy commented on #13
@joshtriplett why? What use case does it help with?

[2022-07-27 04:30] joshtriplett commented on #13
@Noah-Kennedy "I'm in synchronous code, and I need to await a future; I need some way to switch from sync mode to async mode." (The reverse of the `spawn_blocking` use case.)

[2022-07-27 04:37] Noah-Kennedy commented on #13
How common is this for a library to need to do though? I cannot think of an actual time to use this.

[2022-07-27 04:37] joshtriplett commented on #13
@Noah-Kennedy Also, sorry, I responded quickly to that one point without acknowledging and appreciating the rest of your message:

...

I really appreciate and agree with this point, and thank you for expressing it.

[2022-07-27 04:38] Noah-Kennedy commented on #13
And I am trying to weigh this against the fact that not all runtimes can do this (a lot of thread-per-core designs can't).

[2022-07-27 04:53] joshtriplett commented on #13
I've found it quite common in application code, extremely common in documentation/example/test code, and moderately common in library code (notably in library code that isn't 100% inside the async world).

I don't think either `spawn_blocking` or `block_on` can always-return-error, because that will break quite a bit of extant code. I would *much* rather have an interface that guarantees support f

[2022-07-27 13:15] uazu commented on #13
In Stakker there are two contexts: outside the main loop, which is synchronous, and stuff called from the main loop (actor methods and future polling), which can never block. So how can I implement `block_on` if it is called from code called by the main loop? I cannot block at this point. Maybe if it was `block_on(...).await` then that would be non-blocking, but then that's just the same as `.awai

[2022-07-27 15:11] Noah-Kennedy commented on #13
@joshtriplett There are a _lot_ of different designs for what I am going to refer to as "isolated worker" thread-per-core runtimes, so I'm going to generalize a bit.

A lot of "isolated worker" thread-per-core designs try to basically model all of the worker threads as parallel systems, allowing for a lot less synchronization overall. This can be a very effective paradigm for server applications i

[2022-07-28 07:34] joshtriplett commented on #13
@Noah-Kennedy If you can support spawning from outside the runtime context, in theory you could implement `block_on` as "spawn this future, make it signal a channel on completion, then synchronously wait on that channel". And `block_on` doesn't have to be the most *optimized* path, it just needs to work.

@uazu Generally speaking, some runtimes do have restrictions that you can't call `block_on` r

[2022-07-28 08:00] Xuanwo commented on #9
I found `rewind`, `stream_len` and `stream_position` are not very useful. For the std version, they are often treated as different alternatives to `SeekFrom`. Do we have scenarios for those APIs?

[2022-07-28 08:04] NobodyXu commented on #13
Maybe we can make this more explicit, by stating that spawning/block_on can only be used when any type that implements the `Executor` trait is available as a context parameter?

Then spawning/block_on can also make the

[2022-07-28 08:12] joshtriplett commented on #13
@NobodyXu I don't think that would work; I would expect spawning (and the executor context) to be available everywhere, while block_on may be limited to contexts that aren't in a future (but the executor should still be available for spawning).

[2022-07-28 08:18] NobodyXu commented on #13
Yeah, I also expect the executor context to available on any future and inside the `spawn_blocking` closure.

For reactor, this is more complex as it might not implement `Send` if the rutime wants to have a reactor per thread design.

Not sure how to ensure we are not in a future though, I wish there is such mechanism in the language to express this because now several functions in `tokio` panic a

[2022-07-28 08:28] joshtriplett commented on #13
I agree that it's a footgun, and it's nice when implementations avoid that footgun, but despite that, block_on is still useful and important.

[2022-07-28 20:25] uazu commented on #13
From Stakker's point of view, if I implement block_on, and it is running inside the runtime, I will panic. The only other alternative would be to spawn the future, but that probably also breaks the user's expectations.

If I implement `spawn_blocking`, it is probably going to have to be under a completely different executor and reactor in that other thread. So I can follow whatever rules typically

[2022-07-28 20:29] uazu commented on #13
Yes, that sounds ideal. Perhaps we can have a way to express levels of support, e.g. Stakker might support level 2, and tokio/async_std level 4, or whatever. Then if a crate claims to only require level 1, then it's clear which runtimes it can run on. (Or maybe expressed as a required-feature list.)

[2022-07-29 02:22] NobodyXu commented on #13
That will be an effect system, I'm not sure if rust wants to support that.

Perhaps we could work with the keyword generics wg to see if they have any idea to solve this?

P.S. @uazu Thanks for the links, using QhostCell sounds interesting and I will have a read at the links you provided.

[2022-07-29 10:35] NobodyXu commented on #13
Note that this will not work, since users can come up with their own context.

For example, the crate futures has its own context type so passing the token in context just wouldn't work.

@uazu Perhaps you can also use the "with context" we planned to use to pass around executor/reactor to pass around your token?